.hero-section-wrapper {
  width: 100%;
  overflow: hidden;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 0;
  background-color: #f19832; 
}

#tsparticles{
  height: 100vh;
}

.hero-section video,
.hero-section img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  opacity: 1;
}

.hero-section .text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10; /* Ensure it's above the particles */
}

.hero-section .text-content h1 {
  margin: 0;
  font-size: 4rem;  /* Keep the size */
  font-weight: 500; /* Reduce thickness */
  letter-spacing: 1px; /* Improve spacing */
  color: white; /* Ensure white text */
}

.hero-section .text-content p {
  font-size: 1.5rem;
  font-weight: 400; /* Make paragraph text thinner */
  margin-top: 10px;
  font-size: 1.5rem;
  color: rgb(238, 169, 9) ; /* Ensure yellow text */
}

.main-content {
  padding: 50px;
  background-color: #fff;
  color: #000;
}

.main-content h2 {
  font-size: 2.5rem;
  text-align: center;
}

.main-content p {
  font-size: 1.25rem;
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
}

