.team-section-container {
    padding: 50px 0;
    /* background: #e6e6fa; */
    text-align: center;
  }
  
  .team-section-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }
  
  .team-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .team-section {
      flex-direction: column;
      align-items: center;
    }
  }
  